In [3]:
# import libraries
import numpy as np
import pandas as pd

In [4]:
# load training dataset
train = pd.read_csv('train_clean.csv',index_col = 'PassengerId')

In [5]:
train

,Survived,Pclass,Name,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",22.000000,1,0,7.2500,1,0,1
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.000000,1,0,71.2833,0,0,0
3,1,3,"Heikkinen, Miss. Laina",26.000000,0,0,7.9250,0,0,1
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.000000,1,0,53.1000,0,0,1
5,0,3,"Allen, Mr. William Henry",35.000000,0,0,8.0500,1,0,1
...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",27.000000,0,0,13.0000,1,0,1
888,1,1,"Graham, Miss. Margaret Edith",19.000000,0,0,30.0000,0,0,1
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",29.699118,1,2,23.4500,0,0,1
890,1,1,"Behr, Mr. Karl Howell",26.000000,0,0,30.0000,1,0,0
891,0,3,"Dooley, Mr. Patrick",32.000000,0,0,7.7500,1,1,0

### Let's assum that the above is the cleaned dataset and we will build classification model based on that

In [6]:
# define attributes and target variable
features = ['Pclass','Age','SibSp','Parch','Fare','Sex_male','Embarked_Q','Embarked_S']
target = ['Survived']
X = train [features]
y = train [target]

In [7]:
# import DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier

In [8]:
# import evaluation tools
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [9]:
# import train_test split
from sklearn.model_selection import train_test_split

In [10]:
# split train data into train and test, 60% in training and 40% in testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state = 42)

In [11]:
X_train

,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
PassengerId,,,,,,,,
571,2,62.000000,0,0,10.5000,1,0,1
788,3,8.000000,4,1,29.1250,1,1,0
75,3,32.000000,0,0,56.4958,1,0,1
114,3,20.000000,1,0,9.8250,0,0,1
636,2,28.000000,0,0,13.0000,0,0,1
...,...,...,...,...,...,...,...,...
107,3,21.000000,0,0,7.6500,0,0,1
271,1,29.699118,0,0,31.0000,1,0,1
861,3,41.000000,2,0,14.1083,1,0,1
436,1,14.000000,1,2,120.0000,0,0,1
103,1,21.000000,0,1,77.2875,1,0,1

In [12]:
# define our model decision tree model
model = DecisionTreeClassifier()

In [13]:
# build the decisio tree model based on defalut hyperparameter settings
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [14]:
model.get_depth()

19

In [15]:
model.get_n_leaves()

118

In [16]:
# test model base on 40% data
pred_val_test = model.predict(X_test)

In [17]:
# print evaluation result of on 40% test data
print("Accuracy from 40% test data:",accuracy_score(y_test, pred_val_test, normalize=True, sample_weight=None))
print(confusion_matrix(y_test, pred_val_test))

Accuracy from 40% test data: 0.7450980392156863
[[174  42]
 [ 49  92]]

In [18]:
# test model based on 60% data
pred_val_train = model.predict(X_train)

In [19]:
# print evaluation result of on 60% train data
print("Accuracy from 60% train data:",accuracy_score(y_train, pred_val_train, normalize=True, sample_weight=None))
print(confusion_matrix(y_train, pred_val_train))

Accuracy from 60% train data: 0.9831460674157303
[[333   0]
 [  9 192]]

### Change hyperparameters in decision tree to control the tree complexity, compare the evaluation result from both 40% testing data and 60% traning data

In [20]:
model1= DecisionTreeClassifier(min_samples_leaf=1500)
model1.fit(X_train, y_train)
pred_val_test1 = model1.predict(X_test)
pred_val_train1 = model1.predict(X_train)
print("Accuracy from 40% test data:",accuracy_score(y_test, pred_val_test1, normalize=True, sample_weight=None))
print("Accuracy from 60% train data:",accuracy_score(y_train, pred_val_train1, normalize=True, sample_weight=None))

Accuracy from 40% test data: 0.6050420168067226
Accuracy from 60% train data: 0.6235955056179775

In [21]:
model2= DecisionTreeClassifier(max_leaf_nodes = 50)
model2.fit(X_train, y_train)
pred_val_test2 = model2.predict(X_test)
pred_val_train2 = model2.predict(X_train)
print("Accuracy from 40% test data:",accuracy_score(y_test, pred_val_test2, normalize=True, sample_weight=None))
print("Accuracy from 60% train data:",accuracy_score(y_train, pred_val_train2, normalize=True, sample_weight=None))

Accuracy from 40% test data: 0.7983193277310925
Accuracy from 60% train data: 0.9382022471910112

In [22]:
model3= DecisionTreeClassifier(max_leaf_nodes = 30)
model3.fit(X_train, y_train)
pred_val_test3 = model3.predict(X_test)
pred_val_train3 = model3.predict(X_train)
print("Accuracy from 40% test data:",accuracy_score(y_test, pred_val_test3, normalize=True, sample_weight=None))
print("Accuracy from 60% train data:",accuracy_score(y_train, pred_val_train3, normalize=True, sample_weight=None))# model3= DecisionTreeClassifier(max_leaf_nodes = 20)

Accuracy from 40% test data: 0.7843137254901961
Accuracy from 60% train data: 0.898876404494382

## Cross Validation

In [23]:
# import cross validation 
from sklearn.model_selection import cross_val_score

In [24]:
score_cv = cross_val_score(model2, X, y, cv=10)

In [25]:
score_cv

array([0.76666667, 0.83146067, 0.74157303, 0.83146067, 0.8988764 ,
       0.83146067, 0.80898876, 0.79775281, 0.87640449, 0.84269663])

In [26]:
score_cv.mean()

0.8227340823970037

### Check the averaged CV accuracy result from different decision tree model (with different hyperparameters) which model returns best accuracy result from CV?

### Grid Search CV

In [27]:
# https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html
from sklearn.model_selection import GridSearchCV

In [28]:
# make an array of depths to choose from, say 1 to 20
depths = np.arange(1, 21)
depths

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [29]:
# define the number to try out for max leaf nodes 
num_leafs = [5, 10, 20, 50, 100]
num_leafs

[5, 10, 20, 50, 100]

In [30]:
try_grid = [{'max_depth':depths,
              'max_leaf_nodes':num_leafs}]

In [31]:
try_grid

[{'max_depth': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
         18, 19, 20]),
  'max_leaf_nodes': [5, 10, 20, 50, 100]}]

In [32]:
# define your Model using GridSearchCV
DTM = GridSearchCV(DecisionTreeClassifier(), param_grid=try_grid, cv=10)

In [33]:
DTM.fit(X,y)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(),
             param_grid=[{'max_depth': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20]),
                          'max_leaf_nodes': [5, 10, 20, 50, 100]}])

In [34]:
# find the best parameters
DTM.best_params_

{'max_depth': 12, 'max_leaf_nodes': 50}

In [35]:
DTM.best_score_

0.8249937578027466

In [36]:
best_DT_model = DecisionTreeClassifier(max_leaf_nodes = 50, max_depth = 13)

In [37]:
best_DT_model.fit(X,y)

DecisionTreeClassifier(max_depth=13, max_leaf_nodes=50)

In [50]:
best_DT_model.predict(X)

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [47]:
# you may also want to try out the RandomizedSearchCV
# https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.RandomizedSearchCV.html