### Naive Bayes (Classifier) - Multinomial Naive Bayes

In [2]:
# Import useful libararies used for data management

import numpy as np
import pandas as pd

data = pd.read_csv('Weather.csv')

In [3]:
data

     Outlook Temperature Humidity Windy Play
0      sunny         hot     high    No   no
1      sunny         hot     high   Yes   no
2   overcast         hot     high    No  yes
3      rainy        mild     high    No  yes
4      rainy        cool   normal    No  yes
5      rainy        cool   normal   Yes   no
6   overcast        cool   normal   Yes  yes
7      sunny        mild     high    No   no
8      sunny        cool   normal    No  yes
9      rainy        mild   normal    No  yes
10     sunny        mild   normal   Yes  yes
11  overcast        mild     high   Yes  yes
12  overcast         hot   normal    No  yes
13     rainy        mild     high   Yes   no

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Outlook      14 non-null     object
 1   Temperature  14 non-null     object
 2   Humidity     14 non-null     object
 3   Windy        14 non-null     object
 4   Play         14 non-null     object
dtypes: object(5)
memory usage: 688.0+ bytes

In [5]:
data.describe()

       Outlook Temperature Humidity Windy Play
count       14          14       14    14   14
unique       3           3        2     2    2
top      sunny        mild     high    No  yes
freq         5           6        7     8    9

In [6]:
# get dummies
data = pd.get_dummies(data)

In [7]:
data

,Outlook_overcast,Outlook_rainy,Outlook_sunny,Temperature_cool,Temperature_hot,Temperature_mild,Humidity_high,Humidity_normal,Windy_No,Windy_Yes,Play_no,Play_yes
0,0,0,1,0,1,0,1,0,1,0,1,0
1,0,0,1,0,1,0,1,0,0,1,1,0
2,1,0,0,0,1,0,1,0,1,0,0,1
3,0,1,0,0,0,1,1,0,1,0,0,1
4,0,1,0,1,0,0,0,1,1,0,0,1
5,0,1,0,1,0,0,0,1,0,1,1,0
6,1,0,0,1,0,0,0,1,0,1,0,1
7,0,0,1,0,0,1,1,0,1,0,1,0
8,0,0,1,1,0,0,0,1,1,0,0,1
9,0,1,0,0,0,1,0,1,1,0,0,1
10,0,0,1,0,0,1,0,1,0,1,0,1
11,1,0,0,0,0,1,1,0,0,1,0,1
12,1,0,0,0,1,0,0,1,1,0,0,1
13,0,1,0,0,0,1,1,0,0,1,1,0

In [ ]:
data.info()

In [ ]:
# define independent attributes 
features = list(data.columns[0:10])
# assign values for independent variables and target variable ('Play_yes')
X = data [features]
y = data ['Play_yes']

In [ ]:
features

In [ ]:
# import cross validation
from sklearn.model_selection import cross_val_score,cross_val_predict

In [ ]:
#Import Multinomial Naive Bayes model from sklearn
from sklearn.naive_bayes import MultinomialNB

#Create a Multinomial Bayes Classifier
mnb = MultinomialNB()

In [ ]:
pred_y = cross_val_predict(mnb,X,y,cv=3)

In [ ]:
pred_y

In [ ]:
pred_proba = cross_val_predict(mnb, X,y,cv=3, method = 'predict_proba')

In [ ]:
pred_proba

In [ ]:
score = cross_val_score(mnb,X,y,cv=3)

In [ ]:
score.mean()

In [ ]:
# train model using training dataset
mnb.fit(X, y)

In [ ]:
mnb.class_count_

In [ ]:
mnb.class_log_prior_

In [ ]:
np.exp(mnb.class_log_prior_)

In [ ]:
mnb.feature_count_

In [ ]:
features

In [ ]:
mnb.feature_log_prob_

In [ ]:
np.exp(mnb.feature_log_prob_)

In [ ]:
# Predict class for new instance with "Outlook = overcast, Temperature = cool, humidity = high, Windy = No"
mnb.predict([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [ ]:
# Predict class probability for new instance with "Outlook = overcast, Temperature = cool, humidity = high, Windy = No"
mnb.predict(?)